<main>
  <div class="container">
    <div class="head">
      <div class="eye1"></div>
      <div class="eye2"></div>
      <div class="heart-container">
        <div class="heart"></div>
      </div>
      <div class="cheek1"></div>
      <div class="cheek2"></div>
    
      <ul class="teeth">
        <div class="tooth1"></div>
        <div class="tooth2"></div>
        <div class="tooth3"></div>
        <div class="tooth4"></div>
      </ul>
      <div class="color-cheek1"></div>
      <div class="color-cheek2"></div>
      <div class="border-eye1"></div>
      <div class="border-eye2"></div>
      <div class="circle-head1"></div>
      <div class="circle-head2"></div>
      <div class="circle-head3"></div>
      <div class="circle-head4"></div>
      <div class="circle-head5"></div>
    </div>
    <div class="cover"></div>
  </div>
</main>
